extends layout

block content
  div.info-container
    p.title Welcome to #{title ? title : null }

    if (currentUser)
      h1 Welcome back! #{currentUser.username}
      a.button#logoutLink(href="/log-out") Log Out
    else
      div.button-container.cnt
        a.button#signupLink(href="/sign-up") Sign Up
        br
        a.button#loginLink(href="/log-in") Log In
  if messages 
    div.messages-container.cnt
      for message in messages 
        div.message 
          h2.message-title= message.title 
          p.message-body= message.message 
          p.message-sender= message.owner
