extends layout

block content
  div.main-container
    div.info-container
      p.title Welcome to Members Only
      if (!currentUser)
        p.extra-title Create an account to leave a message and see extra details.

      if (currentUser)
        div.change-avatar-container
          form.user-avatar(action="/avatar" , method="POST" enctype="multipart/form-data") 
            input(type='file' name='avatar')
            button(type="submit") Upload
        h1 Welcome back! #{currentUser.username}
        a.button#logoutLink(href="/log-out") Log Out
      else
        div.button-container.cnt
          a.button#signupLink(href="/sign-up") Sign Up
          br
          a.button#loginLink(href="/log-in") Log In
          
    if allMessages
      div.messages-info-box
        div.messages-container.cnt 
          each message in allMessages
            div.messages-info-container 
              div.img-container-info 
                div.img-container 
                  img(src=message.img || "/images/unknown.png")
              div.msg-info-container
                div.msg-timestamp 
                  p= message.timestamp
                div.msg-contents 
                  p= message.message
      div.send-message-field-container

      //- div.messages-info-box    
      //-   div.messages-container.cnt
      //-     each message in messages 
      //-       div.message-info-container
      //-         div.img-container-info
      //-           div.img-container 
      //-             img(src=message.user.img || "/images/unknown.png")
      //-           div.img-user  
      //-             h3.message-sender #{message.user.username || "Unknown"}

      //-         div.messages
      //-           div.message
      //-             p.message-body= message.message
      //- div.send-message-field-container 
      //-   form#send-message-form(action='/send-message', method="POST")
      //-     if isDisabled 
      //-       input(name="msg" placeholder="Sign in to post" disabled).message-send
      //-     else 
      //-       input(name="msg" placeholder="Start typing...").message-send
      //-     if isDisabled 
      //-       div.send-img-icon 
      //-         button(disabled)
      //-           img(src="/icons/send-outline-disabled.svg" alt="Send Icon").send-icon-img
      //-     else
      //-       div.send-img-icon 
      //-         button(type="submit")
      //-           img(src="/icons/send-outline.svg" alt="Send Icon").send-icon-img
